  <!-- footer Section -->
 <div class="ecommerce-footer">
  <div class="ecommerce-footer-links row">
    <div class="small-12 medium-12 large-6 columns">
      <div class="row ecommerce-footer-links-block">
        <div class="small-4 medium-4 large-4 columns">
          <h5>Cities</h5>
          <ul class="menu vertical">
            <li><a href="#">Atlanta</a></li>
            <li><a href="#">Athens</a></li>
            <li><a href="#">Sandy Springs</a></li>
            <li><a href="#">Five Points</a></li>
            <li><a href="#">Midtown</a></li>
          </ul>
        </div>
        <div class="small-4 medium-4 large-4 columns more-categories">
          <ul class="menu vertical">
            <li><a href="#">Dunwoody</a></li>
            <li><a href="#">Brookhaven</a></li>
            <li><a href="#">Buckhead</li>
            <li><a href="#">Vinings</a></li>
            <li><a href="#">Smyrna</a></li>
          </ul>
        </div>
  <div class="small-12 medium-12 large-6 columns">
     <div class="row">
       <div class="small-4 medium-4 large-4 columns">
        <h5>Truck Chasers</h5>
        <ul class="menu vertical">
          <li><a href="#">Sign In</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Food Truck Chasers Rewards</a></li>
        </ul>
      </div>
      <div class="small-4 medium-4 large-4 columns">
        <h5>Company</h5>
        <ul class="menu vertical">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Location</li>
        </ul>
      </div>
      <div class="small-4 medium-4 large-4 columns">
        <h5>Social</h5>
        <ul class="menu vertical"></ul> 
          <li><a href="#">Pinterest</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </div>
     </div>
    </div>
  </div>
  <div class="ecommerce-footer-bottom-bar row">
    <div class="small-12 medium-5 columns">
      <ul class="bottom-links">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
      </ul>
    </div>
    <div class="small-12 medium-2 columns ecommerce-footer-logomark">
      <img src="assets\food-truck-chasers-logo-99.png"/>
    </div>
    <div class="small-12 medium-5 columns">
      <div class="bottom-copyright">
        <span>©2020 Food Truck Chasers. All rights reserved.</span>
      </div>
    </div>
  </div>
</div>