  <body>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="index.html" target="_blank"><img class="image" src="../public/assets/food-truck-chasers-logo-1500 (1).png" alt="food truck chasers logo"></a></li>
          <!-- <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li> -->
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    <div class="callout medium red">
      <div class="row column text-center">
        <h2>Where do you want your chase to start?</h2>
      </div>
    </div>

    <div class="row small-10 medium-8 columns box">
      <label
        >Select City
        <select>
          <option value="atlanta">Atlanta</option>
          <option value="athens">Athens</option>
          <option value="sandySprings">Sandy Springs</option>
          <option value="fivePoints">Five Points</option>
        </select>
        <button type="button" class="expanded button button-primary">Chase</button>
      </label>
    </div>
    <img src="assets\food-truck-chasers-logo-1500 (1).png" alt="Food Truck Chaser Logo of a Truck being chased by a crowd">
    <script src="" async defer></script>
  </body>