<body>
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/"><img class="image" src="assets\food-truck-chasers-logo-1500 (1).png"
              alt="food truck chasers logo"></a></li>

      </ul>
    </div>
  </div>
  <!-- End Top Bar -->
  <div class="callout medium red">
    <div class="row column text-center">
      <h2>Where do you want your chase to start?</h2>
    </div>
  </div>
 <form id="citySelector">
    <div class="row small-10 medium-8 columns box" id="city">
      <label
        >Select City
        <select id="input">
          <option value="atlanta">Atlanta</option>
          <option value="athens">Athens</option>
          <option value="sandySprings">Sandy Springs</option>
          <option value="fivePoints">Five Points</option>
        </select>
        <button type="button" class="expanded button button-primary" id="submit">Chase</button>
      </label>
    </div>
    </form>
  <img src="assets\food-truck-chasers-logo-1500 (1).png"
    alt="Food Truck Chaser Logo of a Truck being chased by a crowd">


  <script src="/js/cityselector.js" async defer></script>
</body>