<body>
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/"><img class="image" src="assets\food-truck-chasers-logo-1500 (1).png"
              alt="food truck chasers logo"></a></li>
        <li><a href="/login">Operator Selector</a></li>
        <li><a href="" id="operator_page">Operator</a></li>
        <!-- <li><a href="#">Three</a></li> -->
      </ul>
    </div>
  </div>
  <!-- End Top Bar -->
  <div class="callout medium red">
    <div class="row column text-center">
      <h2>Fill out the form to create your truck.</h2>
    </div>
  </div>


  <div class="row small-10 medium-8 columns im">

    <form id="new-truck">
      <label id="editLabel">Truck Name:</label>
      <input type="text" aria-describedby="exampleHelpText" id="truck_name">
      <label id="editLabel">Phone Number:</label>
      <input type="text" aria-describedby="exampleHelpText" id="phone">
      <label id="editLabel">City:</label>
      <input type="text" aria-describedby="exampleHelpText" id="city">
      <label id="editLabel">Category:</label>
      <input type="text" aria-describedby="exampleHelpText" id="category">
        <label id="editLabel">Logo Link:</label>
        <input type="text" aria-describedby="exampleHelpText" id="logo">
        <p class="help-text" id="exampleHelpText">Our logo requirements are 150px max hight. Click this link <a href="https://cloudinary.com/home-2"target="_blank"> "cloudinary" </a>to upload your logo to our cloud service. Copy and paste the link provided into the field above.</p>
      <label id="editLabel">Promotional Message:</label>
      <input type="text" aria-describedby="exampleHelpText" id="promo_message">
      <button type="submit" class="expanded button button-primary">Chase</button>
    </form>
  </div>



  <script type="text/javascript" src="js/createTruck.js">


  </script>
</body>