<body>
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/"><img class="image" src="assets\food-truck-chasers-logo-1500 (1).png"
              alt="food truck chasers logo"></a></li>
        <li><a href="/login">Operator Selector</a></li>
        <li><a href="/operator">Operator</a></li>
        <!-- <li><a href="#">Three</a></li> -->
      </ul>
    </div>
  </div>
  <!-- End Top Bar -->
  <div class="callout medium red">
    <div class="row column text-center">
      <h2>Fill out the form to create your truck.</h2>
    </div>
  </div>


  <div class="row small-10 medium-8 columns im">
    <form id="new-truck">
      <input type="text" placeholder="Truck Name" aria-describedby="exampleHelpText" id="truck_name">
      <input type="text" placeholder="Phone Number" aria-describedby="exampleHelpText" id="phone">
      <input type="text" placeholder="Location" aria-describedby="exampleHelpText" id="city">
      <input type="text" placeholder="Food Category" aria-describedby="exampleHelpText" id="category">
      <input type="text" placeholder="Promotional Message" aria-describedby="exampleHelpText" id="promo_message">
      <button type="submit" class="expanded button button-primary">Chase</button>
    </form>

  </div>



  <script type="text/javascript" src="js/createTruck.js">


  </script>
</body>