<body>
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="/"><img class="image" src="assets\food-truck-chasers-logo-1500 (1).png"
              alt="food truck chasers logo"></a></li>
        <!-- <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li> -->
      </ul>
    </div>
  </div>
  <!-- End Top Bar -->
  <div class="callout medium red">
    <div class="row column text-center">
      <h2>Welcome to FOOD TRUCK Chasers.</h2>
    </div>
  </div>

  <div class="row small-10 medium-8 columns box">
    <button type="button" class="expanded button button-primary"
      onclick="document.location = '/login'">Operators</button>
    <button type="button" class="expanded button button-primary" onclick="document.location = '/citySelector'">Chase Trucks</button>
  </div>
  <img src="assets\food-truck-chasers-logo-1500 (1).png" alt="Food Truck Chaser Logo of a Truck being chased by a crowd">
  

  <script src="" async defer></script>
</body>