<body>
    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="/"><img class="image" src="..\assets\food-truck-chasers-logo-1500 (1).png"
                            alt="food truck chasers logo"></a></li>
                <li><a href="/citySelector">City Selector</a></li>
                <!-- <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li> -->
            </ul>
        </div>
    </div>
    <!-- End Top Bar -->
    <div class="callout medium red">
        <div class="row column text-center">
            <h2>Here are the FOOD TRUCKS in your city</h2>
        </div>
    </div>

    <div class="row small-10 medium-10 columns im">
        {{#each food_trucks}}
        <div class="row small-5 medium-5 columns float-right">
            <img class="custLogo" src="..\assets\album-1.jpg" alt="">
        </div>
        <div class="row small-6 medium-6 columns divide">
            <ul>
                <li><span>Food Truck Name: </span>{{truck_name}}</li>
                <li><span>Location: </span>{{city}}</li>
                <li><span>Today's Special!: </span>{{promo_message}}</li>
                <li><span>Food Category: </span>{{category}}</li>
            </ul>
        </div>
        

        {{/each}}
    </div>



    <script src="" async defer></script>
</body>