<body>
    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="/" target="_blank"><img class="image" src="assets\food-truck-chasers-logo-1500 (1).png"
                            alt="food truck chasers logo"></a></li>
                <li><a href="/citySelector" target="_blank">City Selector</a></li>
                <!-- <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li> -->
            </ul>
        </div>
    </div>
    <!-- End Top Bar -->
    <div class="callout medium red">
        <div class="row column text-center">
            <h2>Here are the FOOD TRUCKS in your city</h2>
        </div>
    </div>

    <div class="row small-10 medium-8 columns im">
        {{#each food_trucks}}
        <div>
            <ul>
                <li>Food Truck Name: {{truck_name}}</li>
                <li>Location: {{city}}</li>
                <li>Today's Special!: {{promo_message}}</li>
                <li>Food Category: {{category}}</li>
            </ul>
        </div>
        {{/each}}
    </div>



    <script src="" async defer></script>
</body>