body {
  /* background-image: url("./assets/foodtruckchasersjpeg.jpg"); */
  background-color: darkgray;
}
ul{
  list-style-type:none
}
.red {
  color: white;
  background-color: red;
}
.box {
  padding-top: 20px;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thin;
  
}
.blue {
  background-color: blue;
}
.im {
  background-image: url("./assets/food-truck-chasers-logo-1500\ \(1\).png");
  background-size: 100%;
  position: relative;
}