body {
<<<<<<< HEAD
  background-color: #A9A9A9;
=======
  background-color: #d3d3d3;
>>>>>>> 5246d2d2d2ca8ea6d7a4bc5d0097f1a631eece04
}

ul {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  list-style-type: none;
}
p {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}

a {
  font-size: 28px;
<<<<<<< HEAD
  font-family:'M PLUS Rounded 1c', sans-serif! important;
  color:#ffff;
  text-shadow: 3px 1px 1px#ff914d;
}

h2{
  font-family:'M PLUS Rounded 1c', sans-serif! important;
  color:#ffff;
  text-shadow: 3px 1px 1px #ff914d;
=======
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  color: #ffff;
  text-shadow: 3px 1px 0px#ff914d;
}

h2 {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  color: #ffff;
  text-shadow: 3px 1px 0px #ff914d;
>>>>>>> 5246d2d2d2ca8ea6d7a4bc5d0097f1a631eece04
}

label {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-size: 32px;
<<<<<<< HEAD
  color:#ffff;
  text-shadow: 3px 1px 1px #ff914d;
=======
  color: #ffff;
  text-shadow: 3px 1px 0px #ff914d;
>>>>>>> 5246d2d2d2ca8ea6d7a4bc5d0097f1a631eece04
}

select {
  color: #ff914d;
}

.red {
  color: #dcbf9c;
  background-color: #5ce1e6;
  border-style: solid;
  border-color: #ff914d;
}

.top-bar {
  border-style: solid;
  border-color: #A9A9A9;
  background-color: #A9A9A9;
}

.menu{
background-color: #A9A9A9! important;
}

.menu-text{
  color:#ffff;
  text-shadow: 3px 1px 1px #ff914d;;
}

.box {
  color: #ff914d;
  padding-top: 20px;
  background-color: #5ce1e6;
  border-color: #ff914d;
  border-style: solid;
  border-width: thin;
}
.blue {
  background-color: #5ce1e6;
}

.image {
  max-height: 75px;
  width: auto;
  margin: 0px;
}

.image:hover {
  transform: scale(1.3);
}

.button-primary {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff914d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px !important;
}
.button:hover {
  background-color: #db7231; /* Green */
  color: white;
}
.im {
  padding-top: 20px;
  background-color: white;
  border-color: #ff914d;
  border-style: solid;
  border-width: thin;
  background-image: url("../assets/menu-chasers.jpg");
  background-size: 100%;
  position: relative;
}
li {
  list-style-type: none;
}

/* Footer Styling*/
.ecommerce-footer {
<<<<<<< HEAD
  background-color:#A9A9A9 ;
=======
  background-color: #d3d3d3;
>>>>>>> 5246d2d2d2ca8ea6d7a4bc5d0097f1a631eece04
  padding: 70px 20px 40px 20px;
}

.ecommerce-footer-links h5 {
<<<<<<< HEAD
  color:#ffff;
  text-shadow: 3px 1px 1px #ff914d;
  font-size: 24px;
=======
  color: #ffff;
  text-shadow: 3px 1px 0px #ff914d;
  font-size: 18px;
>>>>>>> 5246d2d2d2ca8ea6d7a4bc5d0097f1a631eece04
  font-weight: 600;
}

.ecommerce-footer-links .menu > li > a {
  line-height: 1.5em;
  padding: 0.5rem 0rem;
}

.ecommerce-footer-links a {
<<<<<<< HEAD
  color: black;
  /* text-shadow: .1px 1px 1px black; */
  font-size: 1.30rem;
  font-family:'M PLUS Rounded 1c', sans-serif! important; 
=======
  color: #ff914d;
  text-shadow: 3px 1px 0px #ffff;
  font-size: 1rem;
>>>>>>> 5246d2d2d2ca8ea6d7a4bc5d0097f1a631eece04
  transition: all 0.5s ease;
}

.ecommerce-footer-links a:hover {
  color: #1585cf;
  transition: all 0.5s ease;
}

.ecommerce-footer-links .more-categories {
  margin-top: 2rem;
}

@media screen and (max-width: 39.9375em) {
  .ecommerce-footer-links .more-categories {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 63.9375em) {
  .ecommerce-footer-links .ecommerce-footer-links-block {
    margin-bottom: 3rem;
  }
}

.ecommerce-footer-bottom-bar {
  border-top: 1px solid #e6e6e6;
  margin-top: 40px;
  padding-bottom: 80px;
  padding-top: 30px;
}

.ecommerce-footer-bottom-bar .menu > li > a {
  line-height: 1.2em;
  padding: 10px 0;
}

.ecommerce-footer-bottom-bar a {
<<<<<<< HEAD
  color: black;
  /* text-shadow: 1px 1px 1px black; */
  font-size: 1.25rem;
=======
  color: #ffff;
  text-shadow: 3px 1px 0px #ff914d;
  font-size: 0.9rem;
>>>>>>> 5246d2d2d2ca8ea6d7a4bc5d0097f1a631eece04
  transition: all 0.5s ease;
}

.ecommerce-footer-bottom-bar a:hover {
<<<<<<< HEAD
  color: black;
  /* text-shadow: 1px 1px 1px black; */
  font-size: 1.25rem;
=======
  color: #ffff;
  text-shadow: 3px 1px 0px #ff914d;
>>>>>>> 5246d2d2d2ca8ea6d7a4bc5d0097f1a631eece04
  transition: all 0.5s ease;
}

@media screen and (max-width: 39.9375em) {
  .ecommerce-footer-bottom-bar ul {
    text-align: center;
  }
}

.ecommerce-footer-bottom-bar li {
  display: inline;
}

.ecommerce-footer-bottom-bar .bottom-links {
  margin-top: 0.65rem;
  margin-left: 0;
}

.ecommerce-footer-bottom-bar .bottom-links {
  padding-right: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .ecommerce-footer-bottom-bar .bottom-links li {
    text-align: center;
  }
}

.ecommerce-footer-bottom-bar .ecommerce-footer-logomark li {
  text-align: center;
}

@media screen and (max-width: 39.9375em) {
  .ecommerce-footer-bottom-bar .ecommerce-footer-logomark {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
}

.ecommerce-footer-bottom-bar .bottom-copyright {
  color: #1585cf;
  opacity: 0.4;
  font-size: 0.9rem;
  line-height: 1.2em;
  padding-top: 1rem;
  text-align: right;
}

@media screen and (max-width: 39.9375em) {
  .ecommerce-footer-bottom-bar .bottom-copyright {
    text-align: center;
  }
}
